@import '../../../vendor/vars';

.result {
  @extend %left-container;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 97.8%;
  }

  &__buttons-container {
    display: flex;
    column-gap: 6px;
    width: 370px;
  }

  &__button {
    margin: 0;
    line-height: normal;
    display: flex;
    padding: 0 19px;
    align-items: center;
    height: 40px;
    gap: 6px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid #1a1b22;
    font-family:
      Open Sans,
      sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    // line-height: 120%; /* 24px */

    &_right {
      padding: 0 14px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    padding-right: 20px;
  }
}

@media screen and (max-width: 1300px) {
  .result__title {
    font-size: 25px;
  }

  .result__buttons-container {
    max-width: 300px;
  }

  .result__button {
    font-size: 15px;
    padding: 7px 10px;
  }
}
