.registration-form {
	margin: 44px 129px 0;
	width: 257px;
}
.registration-form__form {
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.registration-form__fields {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 12px;
}

.registration-form__button {
	margin-top: 20px;
	border-radius: 4px;
	border: 1px solid #000;
	background-color: #b8b8b8;
	width: 100%;
	height: 44px;
	padding: 10px 14px;
	display: flex;
	justify-content: center;
	gap: 4px;
}

.registration-form__button_disabled {
	display: none;
}

.registration-form__button_inactive {
	opacity: 0.5;
	cursor: not-allowed;
}

.registration-form__button-icon {
	width: 20px;
	height: 20px;
}

.registration-form__button-text {
	color: #000;
	text-align: center;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 1;
}

/*Popup*/
.registration-form_popup {
	margin: 0;
}
