.registration-field {
	position: relative;
}
.registration-field__input {
	width: 231px;
	height: 24px;
	padding: 10px 10px 10px 16px;
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.21;
	border-radius: 4px;
	background: #fff;
	border: none;
}

.registration-field__button {
	background-image: url(../../../../img/eye-icon.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-color: transparent;
	appearance: none;
	border: none;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 11px;
	left: 224px;
}

/*Popup*/
.registration-field__input_popup {
	border-radius: 4px;
	border: 1px solid #000;
	background: #fff;
}
