.registration-field {
	position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__input {
    width: 100%;
    height: 47px;
    padding: 10px 10px 10px 16px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.21;
    border-radius: 16px;
    background: #fff;
    border: 1px solid #9F9F9F;
    outline: #000;
    box-sizing: border-box;

    &_error {
      border-color: #FF4B4B;
    }

    &_popup {
      border-radius: 16px;
      border: 1px solid #fff;
      background: #fff;
    }

    &:disabled {
      border: 1px solid #9f9f9f;
      background: #e6e6e6;
    }

    &:active {
      border-color: #000;
      outline-offset: 0;
    }

    &:focus {
      border-color: #000;
      outline-offset: 0;
    }
  }

  &__eye {
    background-image: url(../../../../img/eye-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    appearance: none;
    border: none;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 11px;
    right: 16px;
    padding: 0;

    &_closed {
      background-image: url(../../../../img/eye-closed-icon.svg);
    }
  }

  &__input-error {
    color: #fff;
    text-align: left;
    margin: 5px 10px 0;
    font-size: 14px;
  }
}
