@import '../../../../vendor/vars';

.form-input {
  width: 100%;
  display: flex;
  flex-direction: column;

  // .form-input__field
  &__field {
    border-radius: 16px;
    border: 1px solid #9f9f9f;
    outline: #000;
    background: #fff;
    height: 22px;
    padding: 12px;
    resize: none;
    font-size: 120%;

    &_error {
      border-color: #ff4b4b;
    }

    &:disabled {
      border: 1px solid #9f9f9f;
      background: #e6e6e6;
    }

    &:active {
      border-color: #000;
      outline-offset: 0;
    }

    &:focus {
      border-color: #000;
      outline-offset: 0;
    }

    &_responsibilities {
      min-height: 175px;
    }

    &_qualification-experience {
      min-height: 174px;
    }

    &_qualification-skills {
      min-height: 174px;
    }

    &_portfolio {
      min-height: 174px;
    }

    &_about {
      min-height: 174px;
    }
  }

  // .form-input__label
  &__label {
    @extend %font-Open;
    margin-bottom: 11px;
    text-align: left;
    font-size: 123%;

    &-container {
      display: flex;
    }
  }

  // .form-input__input-error
  &__input-error {
    margin: 4px 0 0;
    color: #ff4b4b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
  }
}
