.form-input {
	display: flex;
	flex-direction: column;
}

.form-input__label-container {
	display: flex;
}

.form-input__label {
	margin-bottom: 12px;
	text-align: left;
	color: #000;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.21;
}

.form-input__field {
	border-radius: 4px;
	border: 1px solid #000;
  min-height: 48px;
  padding: 10px;
  resize: none;
}

.form-input__field_responsibilities {
  min-height: 200px;
}

.form-input__field_qualification-experience {
  min-height: 124px;
}

.form-input__field_qualification-skills {
  min-height: 124px;
}