.month__container {
  position: relative;
  display: flex;
  width: 50%;
}

.month__input {
  color: black;
  display: block;
  background-color: transparent;
  opacity: 1;
  width: 100%;
  min-height: 48px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #000;
}

.month__input_disabled {
  background-color: #fafafa;
}

.month__container-list {
  display: none;
  position: absolute;
  top: 73px;
  left: 0px;
  z-index: 1;
  border: #000 solid 1px;
  padding: 12px 9px;
  width: 89.2%;
  border-radius: 0px 0px 8px 8px;
  background-color: #fff;
}

.month__input:active {
  opacity: 0.75;
  transition: opacity 0.1s ease;
}

.month__container:hover .month__container-list {
  display: block;
}

.month__container:hover .month__input {
  border-radius: 4px 4px 0 0;
}

.month__grid-list {
  display: grid;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 23px 23px 23px 23px;
  background-color: #e0dfdf;
  gap: 1px;
}

.month__button {
  background-color: #fff;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.21;
}

.month__button_active {
  background-color: #d6f3ff;
}
