.confirmation-reg {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 28px;
  border-radius: 45px;
  width: 620px;
  min-height: 281px;
  background-color: #fff;
  padding: 0;
  position: relative;

  &__text {
    padding: 54px 0 0 0;
    margin: 0;
    max-width: 516px;
    color: #212121;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
  }

  &__buttons {
    display: flex;
    gap: 20px;
    padding: 0;
  }

  &__button {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    border-radius: 16px;
    border: 2px solid;
    width: 248px;
    height: 48px;

    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }

    &_skip {
      color: #1a1b22;
      background-color: #fff;
      border-color: #1a1b22;
    }

    &_reg {
      color: #fff;
      background-color: #da693f;
      border-color: #da693f;
    }
  }

  &__link {
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #212121;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    border: none;
    background: none;
  }

  &__close-button {
    border: none;
    background-color: transparent;
    padding: 0;
    position: absolute;
    top: 21px;
    right: 30px;
  }

}