@import '../../../vendor/vars';

.skills {
  @extend %left-container;
  text-align: left;

  &__container {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid var(--grey-dark, #9f9f9f);
    background: var(--White, #fff);
    @extend %form-container;
  }

  &__title {
    padding: 0;
    margin: 0;
    color: #212121;
    font-family:
      Open Sans,
      sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
    margin-bottom: 32px;
  }

  &__subtitle {
    padding: 0;
    margin: 0;
    color: #212121;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: none;
    margin-bottom: 12px;
  }

  &__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #9f9f9f;
    width: 100%;

    &-selected-btn {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: transparent;
      border: none;
      padding: 0;
      width: 50px;
      height: 50px;
      align-self: start;
      border-left: 1px solid var(--grey-dark, #9f9f9f);
      border-bottom: 1px solid var(--grey-dark, #9f9f9f);

      &_disabled {
        border: none;

        &-border-bottom {
          border: none;
          justify-content: space-between;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__field-selected-img {
    width: 16px;
    height: 16px;
    padding: 16px;
    position: relative;
  }

  &__list {
    display: none;
    margin: 0;

    &_visible {
      padding: 0;
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
      padding: 24px;
    }
  }

  &__item {
    list-style: none;

    &-button {
      padding: 12px;
      display: flex;
      padding: 12px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border: 1px solid #1a1b22;
      background-color: #fff;

      &_active {
        background-color: #1a1b22;
        color: #fff;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}
