.profile {
  background-color: #f7f7f7;
  width: 100%;
  position: relative;

  &__title {
    color: #212121;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    margin: 48px 0 0 89px;
  }

  &__page-layout {
    display: flex;
    margin: 49px 89px 0 89px;
  }

  &__personal-data {
    flex-grow: 1;
  }

  &__menu-buttons {
    display: flex;
    column-gap: 27px;
  }

  &__menu-button {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #a4a3a3;
    color: #a4a3a3;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    padding: 0 4px 0;
    cursor: pointer;

    &_active {
      border-bottom: 1px solid #da693f;
      color: #da693f;
    }
  }

  &__personal-data-container {
    margin-top: 32px;
    display: flex;
    column-gap: 20px;
    width: 100%;
  }

  &__photo {
    width: 194px;
    height: 196px;
  }

  &__personal-data-form {
    margin: 0 auto;
    width: 68%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
  }

  &__input-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 96%;
    position: relative;
    color: #212121;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2; /* 24px */
  }

  &__input-error {
    margin: 4px 0 0;
    color: #ff4b4b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    min-height: 15px;
    width: 100%;
  }

  &__input {
    border-radius: 16px;
    border: 1px solid #9f9f9f;
    background: #fff;
    width: 100%;
    padding: 0 0 0 12px;
    height: 45px;
    outline: #000;
    color: #212121;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    margin: 12px 0 0;
    box-sizing: border-box;

    &:disabled {
      background: #e6e6e6;
    }

    &:active {
      border-color: #000;
    }

    &:focus {
      border-color: #000;
    }
  }

  &__double-input-container {
    display: flex;
    column-gap: 20px;
    width: 100%;

    &_contacts {
      width: 96%;
    }
  }

  &__input-label_double-short {
    max-width: 193px;
  }

  &__input-label_double-long {
    max-width: 100%;
  }

  &__checkbox-container {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__checkbox-label {
    display: block;
    margin: 14.5px 0 0;
    cursor: pointer;
    user-select: none;
    position: relative;
  }

  &__checkbox-input {
    width: 24px;
    height: 24px;
  }

  &__checkbox-text {
    color: #212121;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
  }

  &__save-button {
    margin-top: 13px;
    border-radius: 16px;
    border: 2px solid #1a1b22;
    background-color: transparent;
    color: #1a1b22;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    width: 96%;
    height: 52px;
    padding: 0;

    &:disabled {
      cursor: default;
      opacity: 1;
      background-color: grey;
    }
  }

  &__contacts-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__saved-resumes {
    width: 38.875%;
    border-left: 2px solid #d0d0d0;
    min-height: 100vh;
    padding-left: 20px;
    padding-bottom: 136px;
  }

  &__saved-resumes-title {
    color: #212121;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-transform: none;
    text-align: left;
    margin: 0;
  }

  &__cvs-container {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-top: 32px;
    width: 100%;
  }

  &__checkbox-label &__checkbox-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
    padding-top: 14.5px;
  }

  &__checkbox-label &__checkbox-text {
    display: inline-block;
    position: relative;
    padding: 0 0 0 32px;
    line-height: 22px;
  }

  &__checkbox-label &__checkbox-text:before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    transition: background 0.3s ease;
    background: url(../../img/checkbox-icon.svg) 0 0 no-repeat;
  }

  &__checkbox-label
  &__checkbox-input:checked
  + &__checkbox-text:before {
  background: url(../../img/checkbox-checked.svg) 0 0 no-repeat;
  }

  &__change-password-form {
    width: 100%;
    margin-top: 25px;
  }

}
