.profile {
  background-color: #f7f7f7;
  width: 100%;
}

.profile__title {
  color: #212121;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 48px;
  margin-left: 89px;
  text-align: left;
}

.profile__page-layout {
  display: flex;
  margin-top: 40px;
  margin-left: 89px;
}

.profile__personal-data {
  width: 58.125%;
}

.profile__menu-buttons {
  display: flex;
  gap: 12px;
}

.profile__menu-button {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #a4a3a3;
  color: #a4a3a3;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  padding: 4px 8px;
  cursor: pointer;
}

.profile__menu-button_active {
  border-bottom: 1px solid #da693f;
  color: #da693f;
}

.profile__personal-data-container {
  margin-top: 32px;
  display: flex;
}

.profile__photo {
  width: 194px;
  height: 196px;
}

.profile__personal-data-form {
  margin: 0 20px;
  width: 68%;
  display: flex;
  flex-direction: column;
}

.profile__input-label {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 98%;
  position: relative;
  color: #212121;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2; /* 24px */
}

.profile__input-label_double-short {
  width: 40%;
}
.profile__input-label_double-long {
  width: 60%;
}

.profile__input {
  border-radius: 16px;
  border: 1px solid #9f9f9f;
  background: #fff;
  width: 100%;
  padding-left: 12px;
  height: 48px;
  outline: #000;
  color: #212121;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.profile__input:disabled {
  background: #e6e6e6;
}

.profile__input:active {
  border-color: #000;
}

.profile__input:focus {
  border-color: #000;
}

.profile__save-button {
  margin-top: 28px;
  border-radius: 16px;
  border: 2px solid #1a1b22;
  background-color: transparent;
  color: #1a1b22;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  width: 100%;
  height: 52px;
}

.profile__save-button:disabled {
  cursor: none;
  background-color: grey;
}

.profile__contacts-form {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.profile__double-input-container {
  display: flex;
  gap: 36px;
  width: 98%;
}

.profile__checkbox-label {
  display: block;
  margin: 0;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.profile__checkbox-text {
  color: #212121;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.profile__checkbox-input {
  width: 24px;
  height: 24px;
}

.profile__checkbox-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.profile__checkbox-label .profile__checkbox-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.profile__checkbox-label .profile__checkbox-text {
  display: inline-block;
  position: relative;
  padding: 0 0 0 32px;
  line-height: 22px;
}

.profile__checkbox-label .profile__checkbox-text:before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 0;
  transition: background 0.3s ease;
  background: url(../../img/checkbox-icon.svg) 0 0 no-repeat;
}

/* Checked */
.profile__checkbox-label
  .profile__checkbox-input:checked
  + .profile__checkbox-text:before {
  background: url(../../img/checkbox-checked.svg) 0 0 no-repeat;
}

.profile__saved-resumes {
  width: 41.875%;
  border-left: 2px solid #d0d0d0;
  min-height: 100vh;
  padding-left: 20px;
  padding-bottom: 136px;
}

.profile__saved-resumes-title {
  color: #212121;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  text-transform: none;
}

.profile__cvs-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-top: 32px;
  width: 100%;
}

.profile__cv-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.profile__cv-image-container {
  position: relative;
  display: flex;
}

.profile__cv-image {
  width: 495px;
  height: 464px;
  object-fit: cover;
}

.profile__cv-changes-button {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 16px;
  left: 435px;
}

.profile__cv-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 32px;
  left: 164px;
  border-radius: 8px;
  background: #fff;
  padding: 8px 0px;
  width: 263px;
}

.profile__cv-menu-option {
  color: #212121;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  border: none;
  border-bottom: 1px solid #b9b9b9;
  background: #fff;
  height: 36px;
  padding: 0;
  display: flex;
  align-items: center;
}

.profile__cv-menu-option:last-of-type {
  border-bottom: none;
}

.profile__cv-menu-option_red {
  color: #ff4b4b;
}

.profile__cv-menu-icon {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-right: 4px;
  color: black;
}

.profile__password-error {
  color: #FF4B4B;
  text-align: left;
  margin: 4px 10px 0;
  font-size: 14px;
}