.form-title__container {
	margin: 0 156px;
}

.form-title__container_register {
	margin-top: 84px;
}

.form-title__container_login {
	margin-top: 109px;
}

.form-title__greeting {
	margin: 0;
	color: #000;
	font-family: Inter;
	font-size: 32px;
	font-weight: 400;
	line-height: 1.21;
	text-align: center;
}

/*Popup*/
.form-title__container_popup {
	margin: 0 0 24px;
}
