.progress-bar {
	width: 87%;
	height: 12px;
	border-radius: 20px;
	background: #d9d9d9;
  margin: 68px auto 0;
  position: relative;
}

.progress-bar_step {
  background: #787575;
  height: 12px;
  border-radius: 20px;
}

.progress-bar_step_1 {
  width: 12.5%;
}

.progress-bar_step_2 {
  width: 12.5%*2;
}

.progress-bar_step_3 {
  width: 12.5%*3;
}

.progress-bar_step_4 {
  width: 12.5%*4;
}

.progress-bar_step_5 {
  width: 12.5%*5;
}

.progress-bar_step_6 {
  width: 12.5%*6;
}

.progress-bar_step_7 {
  width: 12.5%*7;
}
