.language-input {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  align-items: flex-end;
  padding-bottom: 32px;

  &__left-box {
    max-width: 316px;
    width: 100%;
  }

  &__right-box {
    max-width: 265px;
    width: 100%;
  }

  // .language-input__field
  &__field {
    appearance: none;
    border-radius: 16px;
    border: 1px solid #9f9f9f;
    outline: #000;
    min-height: 48px;
    width: 100%;
    padding: 12px;

    &:active {
      border-color: #000;
      outline-offset: 0;
    }

    &:focus {
      border-color: #000;
      outline-offset: 0;
    }
  }

  // .language-input__label
  &__label {
    margin-bottom: 12px;
    text-align: left;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.21;

    &-container {
      display: flex;
    }
  }

  // .language-input__select-wrapper
  &__select-wrapper {
    position: relative;

    &::after {
      content: url(../../../../img/select-arrow.svg);
      position: absolute;
      bottom: 8px;
      right: 16px;
      pointer-events: none;
    }
  }

  // buttons
  &__button-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  &__button-delete {
    width: 48px;
    height: 48px;
    padding: 10px;
    background-color: #1a1b22;
    border-radius: 16px;
    border: none;
    background-image: url(../../../../img/delete-button.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url(../../../../img/delete-button-hover.svg);
    }
  }

  &__button-add {
    width: 48px;
    height: 48px;
    padding: 10px;
    background-color: #1a1b22;
    border-radius: 16px;
    border: none;
    background-image: url(../../../../img/add-button.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url(../../../../img/add-button-hover.svg);
    }
  }
}
