.personal-data {
  width: 59.2%;
  height: 100%;
  min-height: 100vh;
  padding-right: 20px;
  border-right: 1px solid #D0D0D0;
}
.personal-data__container {
  width: 100%;
  height: 100%;
  padding-bottom: 137px;
  
}
.personal-data__form {
  display: flex;
  flex-direction: column;
  margin: 36px 0 64px;
  gap: 32px;
  width: 100%;
}
.personal-data__form:last-of-type{
  margin-bottom: 25px;
}
.personal-data__language-form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 20px;
}