@import '../../../vendor/vars';

.personal-data {
  @extend %left-container;

  &__container {
    padding-bottom: 137px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 38px 0 61px;
    gap: 27px;
    max-width: 729px;

    // .personal-data__form...
    &_bottom {
      gap: 28px;
      margin-bottom: 63px;
    }

    &_left {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 408px;
      gap: 29px;
    }

    &_right {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 301px;
    }

    &-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 20px;
      max-width: 729px;
    }

    &:last-of-type {
      margin-bottom: 25px;
    }

    &-language {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 20px;
    }
  }
}
