.main__title-container {
  display: flex;
  width: 1264px;
  height: 524px;
  border-radius: 16px;
  background: #da693f;
  margin: 68px auto 0;
  gap: 14px;
}

.main__text-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 107px;
}

.main__title {
  text-align: left;
  margin: 132px 0 0;
  color: #f7f7f7;
  // font-family: Space Grotesk;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
}

.main__title-comment {
  text-align: left;
  margin-top: 20px;
  color: #f7f7f7;
  // font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.main__create-button {
  width: 301px;
  height: 52px;
  border-radius: 16px;
  border: none;
  background: #1a1b22;
  color: #f7f7f7;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.21;
  margin-top: 64px;
}

.main__title-image {
  width: 433px;
  height: 433px;
  margin-right: 88px;
  margin-top: 65px;
}

.main__onboarding-container {
  margin-top: 68px;
  display: flex;
  gap: 20px;
}

.main__onboarding-image {
  width: 622px;
  height: 622px;
}

.main__onboarding-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 147px;
}

.main__onboarding-title {
  margin: 0;
  color: #000;
  // font-family: Space Grotesk;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
}

.main__onboarding-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  text-align: left;
  padding-inline-start: 0;
}

.main__onboarding-item {
  display: flex;
  align-items: flex-start;
  gap: 13px;
}

.main__onboarding-item-circle {
  height: 5px;
  width: 4px;
  border-radius: 50%;
  background-color: #000;
  margin-top: 10px;
}

.main__onboarding-item-text {
  color: #000;
  // font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
