.main {
  width: 100%;

  &__title-container {
    display: flex;
    width: 88%;
    border-radius: 16px;
    background: #da693f;
    margin: 48px auto 0;
    gap: 9%;
    min-height: 524px;
  }

  &__text-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 98px;
    width: 47%;
  }

  &__title {
    text-align: left;
    margin: 108px 0 0;
    color: #f7f7f7;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 2px
  }

  &__title-comment {
    text-align: left;
    margin-top: 20px;
    color: #f7f7f7;
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
  }

  &__create-button {
    width: 301px;
    height: 52px;
    border-radius: 16px;
    border: none;
    background: #1a1b22;
    color: #f7f7f7;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.21;
    margin-top: 59px;
    margin-bottom: 95px;
  }

  &__title-image {
    max-width: 358px;
    max-height: 334px;
    margin-top: 95px;
    object-fit: cover;
  }

  &__onboarding-container {
    width: 88%;
    margin: 41px auto 90px;
    display: flex;
    gap: 9.5%;
  }

  &__onboarding-image {
    max-width: 588px;
    max-height: 588px;
    object-fit: cover;
  }

  &__onboarding-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 106px;
    width: 43.8%;
    min-width: 440px;
  }

  &__onboarding-title {
    margin: 0;
    color: #000;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: lowercase;
    letter-spacing: 1px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__onboarding-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    text-align: left;
    padding-inline-start: 0;
  }

  &__onboarding-item {
    display: flex;
    align-items: flex-start;
    gap: 13px;
  }

  &__onboarding-item-circle {
    height: 5px;
    width: 4px;
    border-radius: 50%;
    background-color: #000;
    margin-top: 10px;
  }

  &__onboarding-item-text {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
  }

  &__onboarding-subtitle-container {
    width: 100%;
    display: flex;
    column-gap: 22px;
    margin-top: 36px;
  }

  &__onboarding-item-list {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  &__onboarding-items {
    width: 100%;
    padding-bottom: 28px;
    display: flex;
    flex-direction: column;
  }

  &__onboarding-button {
    width: 100%;
    font-size: 20px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    color: #757575;
    font-style: normal;
    line-height: 120%;
    border: none;
    background-color: transparent;
    max-width: 305px;
    text-align: left;
    padding: 0;
    cursor: pointer;

    &_bold {
      color: #212121
    }
  }

  &__onboarding-subtitle-element {
    width: 100%;
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding-top: 12px;
    text-align: left;
    display: none;

    &_visible {
      display: block;
    }

  }

  &__onboarding-progress-bar {
    width: 8px;
    height: 100%;
    border-radius: 8px;
    position: relative;

    &_step1 {
      background: linear-gradient(180deg, #FF4C00 0%, rgba(255, 76, 0, 0.00) 99.86%);
    }

    &_step2 {
      background: linear-gradient(180deg, #FFF 0%, rgba(255, 76, 0, 0.92) 25.88%, rgba(255, 255, 255, 0.28) 118.33%);
    }

    &_step3 {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 76, 0, 0.92) 38.17%, rgba(255, 255, 255, 0.28) 118.33%);
    }

    &_step4 {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 76, 0, 0.92) 53.13%, rgba(255, 255, 255, 0.28) 118.33%);
    }

    &_step5 {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 76, 0, 0.92) 73.46%, rgba(255, 255, 255, 0.28) 118.33%);
    }

  }

  &__onboarding-circle {
    width: 25px;
    height: 27px;
    background-color: #FF4C00;
    border-radius: 50%;
    position: absolute;
    left: -9px;

    &_step1 {
      top: 0px;
    }

    &_step2 {
      top: 51px;
    }

    &_step3 {
      top: 103px;
    }

    &_step4 {
      top: 155px;
    }

    &_step5 {
      top: 206px;
    }
  }

}