@import '../../../../vendor/vars';

.link-input {
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 20px;
  width: 100%;
  align-items: flex-end;

  &__left-box {
    max-width: 316px;
    width: 100%;
  }

  &__right-box {
    max-width: 265px;
    width: 100%;
  }

  &__label {
    @extend %font-Open;
    margin-bottom: 12px;
    text-align: left;
    font-family: Inter;

    &-container {
      display: flex;
    }
  }

  // field
  &__field {
    appearance: none;
    border-radius: 16px;
    border: 1px solid #9f9f9f;
    outline: #000;
    width: 95%;
    height: 22px;
    padding: 12px;
    margin: 0;
    resize: none;
  }

  &:active {
    border-color: #000;
    outline-offset: 0;
  }

  &:focus {
    border-color: #000;
    outline-offset: 0;
  }

  &__short-field {
    appearance: none;
    border-radius: 16px;
    border: 1px solid #9f9f9f;
    outline: #000;
    width: 90.78%;
    height: 22px;
    padding: 12px;
    margin: 0;
    resize: none;
  }

  // button
  &__button-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  &__button-delete {
    width: 48px;
    height: 48px;
    padding: 10px;
    background-color: #1a1b22;
    border-radius: 16px;
    border: none;
    background-image: url(../../../../img/delete-button.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url(../../../../img/delete-button-hover.svg);
    }
  }

  &__button-add {
    width: 48px;
    height: 48px;
    padding: 10px;
    background-color: #1a1b22;
    border-radius: 16px;
    border: none;
    background-image: url(../../../../img/add-button.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url(../../../../img/add-button-hover.svg);
    }
  }
}
