@import '../../../vendor/vars';

.experience {
  @extend %left-container;
}

.experience__form-container {
  @extend %form-container;
}

.experience__basic-recommend {
  display: flex;
  flex-direction: column;
  gap: 29px;
  // max-width: 729px;
}
