.experience__job-container {
  margin: 44px 0 0;
  border-top: 1px #d0d0d0 dashed;
  padding-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.job__buttons-container {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.job__delete-button {
  background-color: #ff4b4b;
  padding: 17px 0;
  color: #fff;
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.21;
  border-radius: 16px;
  border: 2px solid #ff4b4b;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.job__add-button {
  background-color: transparent;
  padding: 17px 0;
  color: #1a1b22;
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.21;
  border-radius: 16px;
  border: 2px solid #1a1b22;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
