@import '../../../../vendor/vars';

.add-button {
  @extend %font-Open;
  margin-top: -2px;
  height: 52px;
  width: 100%;
  padding: 19px 0 16px 0;
  text-align: center;
  border-radius: 16px;
  border: 2px solid #1a1b22;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button_inactive {
  opacity: 0.5;
  cursor: not-allowed;
}
