.confirmation {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	padding: 112px 124px;
}

.confirmation__image {
	width: 301px;
	height: 284px;
	margin-bottom: 66px;
}

.confirmation__buttons {
	display: flex;
	gap: 12px;
}

.confirmation__button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 10px;
	font-size: 10px;
	text-transform: uppercase;
	border-radius: 8px;
	border: 1px solid #000;
	padding: 16px 40px;
	color: #000;
	// font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.confirmation__button:hover {
	opacity: 0.6;
	cursor: pointer;
}
