.progress-bar {
  display: flex;
  width: 87%;
  height: 12px;
  border-radius: 20px;
  margin: 48px auto 0;
  position: relative;
}

.progress-bar_step {
  height: 12px;
  border-radius: 20px;
}

.progress-bar_step.completed {
  background: #787575;
  margin-right: 25px; // Добавляем отступ только для завершенных шагов
}

.progress-bar_step.active {
  background: #DA693F ; // Цвет для активного шага
  margin-right: 25px;
}

.progress-bar_step.future {
  background: #e0e0e0; // Цвет для еще не открытых шагов
  margin-right: 25px; // Убираем отступ для будущих шагов
}

.progress-bar_step:last-child {
  margin-right: 0;
}