.double-input {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: flex-start;
  max-width: 729px;
  width: 100%;
}

.double-input__left-box {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.double-input__short-left-box {
  max-width: 316px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.double-input__right-box {
  max-width: 301px;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.double-input__short-right-box {
  max-width: 393px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.double-input__label-container {
  display: flex;
}

.double-input__label {
  margin-bottom: 12px;
  text-align: left;
  color: #000;
  font-family:
    Open Sans,
    sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.21;
}

.double-input__field {
  appearance: none;
  border-radius: 16px;
  border: 1px solid #9f9f9f;
  outline: #000;
  width: 95%;
  height: 22px;
  padding: 12px;
  margin: 0;
  resize: none;
}
.double-input__short-field {
  appearance: none;
  border-radius: 16px;
  border: 1px solid #9f9f9f;
  outline: #000;
  width: 91.78%;
  height: 22px;
  padding: 12px;
  margin: 0;
  resize: none;
}

.double-input__field_error {
  border-color: #FF4B4B;
}

.double-input__field:active {
  border-color: #000;
  outline-offset: 0;
}

.double-input__field:focus {
  border-color: #000;
  outline-offset: 0;
}

.double-input__field_short {
  min-height: 22px;
  width: 91.3%;
}
// .double-input__short-field_long {
//   width: 93.4%;
// }

.double-input__field_selected {
  min-height: 48px;
  width: 100%;
}
.double-input__select-wrapper {
  position: relative;
  max-width: 301px;
  width: 100%;
}
.double-input__select-wrapper::after {
  content: url(../../../../img/select-arrow.svg);
  position: absolute;
  bottom: 8px;
  right: 16px;
  pointer-events: none;
}

.double-input__option {
  text-align: left;
  font-family:
    Open Sans,
    sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 1040px) {
  .double-input {
    flex-wrap: wrap;
  }
  .double-input__right-box {
    max-width: 484px;
  }
  .double-input__field_short {
    width: 100%;
  }
}
