.double-input {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: flex-start;
    max-width: 729px;
    width: 100%;
}
.double-input__left-box {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.double-input__right-box {
    max-width: 301px;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.double-input__label-container {
    display: flex;
}

.double-input__label {
	margin-bottom: 12px;
	text-align: left;
	color: #000;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.21;
}

.double-input__field {
  appearance: none;
  border-radius: 16px;
  border: 1px solid #9F9F9F;
  width: 95%;    
  height: 22px;
  padding: 12px;
  margin: 0;
  resize: none;
}

.double-input__field_short {
min-height: 22px;
width: 91.3%;
}


.double-input__field_selected{
    min-height: 48px;
    width: 100%;
}
.double-input__select-wrapper {
position: relative;  
max-width: 301px;
width: 100%;
}
.double-input__select-wrapper::after {
    content: url(../../../../img/select-arrow.svg);
    position: absolute;
    bottom: 16px;
    right: 16px;
    pointer-events: none;
}

.double-input__option {
text-align: left    ;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

@media screen and (max-width: 1040px) {
.double-input {
   flex-wrap: wrap;
}
.double-input__right-box {
   max-width: 484px;
}
.double-input__field_short {
    width: 100%;
}
}