.double-input {
    display: grid;
    grid-template-columns: 408px minmax(270px, 301px);
    column-gap: 20px;
}
.double-input__box {
    display: flex;
    flex-direction: column;
    // width: 100%;
}
.double-input__label-container {
    display: flex;
}

.double-input__label {
	margin-bottom: 12px;
	text-align: left;
	color: #000;
	font-family: Open Sans, sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.21;
}

.double-input__field {
  appearance: none;
  border-radius: 4px;
  border: 1px solid #000;
  max-width: 386px;
  width: 100%;
  padding: 10px;
  height: 26px;
  resize: none;
}
.double-input__field_selected{
height: 48px;
}
.double-input__select-wrapper {
position: relative;

}
.double-input__select-wrapper::after {
    content: url(../../../../img/select-arrow.svg);
    max-width: 386px;
    position: absolute;
    bottom: 16px;
    right: 16px;
    pointer-events: none;
}
.double-input__field_short {
max-width: 279px;
}

.double-input__option {
text-align: left    ;
font-family: Open Sans, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

@media screen and (max-width: 1340px) {
    .double-input {
        grid-template-columns: 380px minmax(242px, 273px);
    }
    .double-input__field {
        max-width: 358px;
    }
    .double-input__select-wrapper::after {
        max-width: 358px;
    }
    .double-input__field_short {
        max-width: 242px;
        }
}