// .header {
//   flex-grow: 0; /*чтобы header не рос*/
//   flex-shrink: 0; /*чтобы header не сжимался*/
//   box-sizing: border-box;
//   background: grey;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   width: 100%;
//   padding: 18px 70px;
// }

.header {
  flex-grow: 0; /*чтобы header не рос*/
  flex-shrink: 0; /*чтобы header не сжимался*/
  background-color: #1A1B22;
  width: 100%;
  min-height: 80px;
}

.header__logo {
  display: flex;
  gap: 8px;
}

.header__buttons-container {
  display: flex;
  gap: 10px;
  margin-left: auto; // чтобы прижимался к правомуу краю
}

.header__logo {
  width: 36px;
  height: 36px;
}
