// .header {
//   flex-grow: 0; /*чтобы header не рос*/
//   flex-shrink: 0; /*чтобы header не сжимался*/
//   box-sizing: border-box;
//   background: grey;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   width: 100%;
//   padding: 18px 70px;
// }

// .header__logo {
//   width: 36px;
//   height: 36px;
// }

.header {
  flex-grow: 0; /*чтобы header не рос*/
  flex-shrink: 0; /*чтобы header не сжимался*/
  background-color: #f7f7f7;
  width: 100%;
  min-height: 116px;
  border-bottom: 1px solid #A6A6A6;
}

.header_main {
  background-color: #1a1b22;
  min-height: 80px;
  border: none;
}

.header__flex-container {
  margin: 32px auto;
  max-width: 1264px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__flex-container_main {
  margin: 28px auto;
}

.header__logo {
  display: flex;
  gap: 8px;
}

.header__logo-resume {
  width: 81px;
  height: 16px;
}

.header__logo-plus {
  width: 14px;
  height: 14px;
}

.header__main-buttons {
  display: flex;
  gap: 60px;
  justify-content: flex-end;
  align-items: center;
}

.header__main-button {
  color: #f7f7f7;
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.header__exit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.header__exit-icon {
  width: 24px;
  height: 24px;
}

.header__steps-buttons {
  display: flex;
  gap: 20px;
  margin-left: auto; // чтобы прижимался к правомуу краю
}

.header__button-icon {
  cursor: pointer;
}

.header__button {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 2px solid #1a1b22;
  padding: 16px 20px;
  background-color: #f7f7f7;
  cursor: pointer;
  min-height: 20px;
  color: #1a1b22;
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.header__button_black {
  background-color: #1a1b22;
  color: #fff;
}

.header__button_orange {
  background-color: #DA693F;
  color: #fff;
  border-color: #DA693F;
}

.header__button-icon {
  width: 20px;
  height: 20px;
}

.header__nav-link {
  text-decoration: none;
}