
.header {
  flex-grow: 0;
  /*чтобы header не рос*/
  flex-shrink: 0;
  /*чтобы header не сжимался*/
  background-color: #f7f7f7;
  width: 100%;
  border-bottom: 1px solid #a6a6a6;

  &_white {
    background-color: #f7f7f7;
    border-bottom: none;
  }

  &_main {
    background-color: #1a1b22;
    min-height: 80px;
    border: none;
  }

  &__container {
    width: 88%;
    margin: 32px auto 0;
    display: flex;
    justify-content: flex-start;
  }

  &__nav-link {
    text-decoration: none;
  }

  &__flex-container {
    margin: 24px auto 8px;
    width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &_main {
      margin: 24px auto 25px;
    }
  }

  &__logo {
    width: 100px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
  }

  &__logo-resume {
    width: 81px;
    height: 16px;

    &_plus {
      width: 100px;
      height: 16px;
    }

  }

  &__logo-plus {
    width: 14px;
    height: 14px;
  }

  &__main-buttons {
    display: flex;
    column-gap: 60px;
    justify-content: flex-end;
  }

  &__button {
    height: 48px;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 2px solid #1a1b22;
    padding: 16px 20px;
    background-color: #f7f7f7;
    cursor: pointer;
    min-height: 20px;
    color: #1a1b22;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;

    &_transparent {
      background-color: transparent;
      color: #fff;
      border: none;
      padding: 0;
      align-items: flex-start;
    }

    &_black {
      background-color: #1a1b22;
      color: #fff;
    }

    &_orange {
      width: 210px;
      height: 48px;
      background-color: #da693f;
      color: #fff;
      border-color: #da693f;

      &:disabled {
        background-color: #1A1B22;
        opacity: 0.6;
        border-color: #1A1B22;
      }
    }

    &_next {
      width: 236px;
      height: 48px;
    }

    &_margin {
      margin: 24px 0 24px 88px;
    }


  }

  &__main-button {
    color: #f7f7f7;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
  }

  &__logout-button {
    display: flex;
    background-color: #1a1b22;
    color: #f7f7f7;
    border: none;
    cursor: pointer;
  }

  &__button-icon_flex-container {
    cursor: pointer;
    display: flex;
    width: 20px;
    height: 20px;
  }

  &__button-icon {
    margin: auto;

    &_exit {
      margin-left: 4px;
      width: 24px;
      height: 24px;
    }

    &_edit {
      width: 20px;
      height: 20px;
    }

    &_personal {
      width: 12.5px;
      height: 10px;
    }

    &_previous {
      width: 13px;
      height: 12px;
    }

    &_next {
      width: 13px;
      height: 12px;
    }

  }

  &__steps-buttons {
    display: flex;
    column-gap: 20px;
    margin-left: auto; // чтобы прижимался к правомуу краю
    min-width: 440px;

    &_end {
      justify-content: end;
    }
  }

  &__exit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  &__exit-icon {
    width: 24px;
    height: 24px;
  }
}