// .header {
//   flex-grow: 0; /*чтобы header не рос*/
//   flex-shrink: 0; /*чтобы header не сжимался*/
//   box-sizing: border-box;
//   background: grey;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   width: 100%;
//   padding: 18px 70px;
// }

.header__logo {
  width: 100px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  flex-grow: 0;
  /*чтобы header не рос*/
  flex-shrink: 0;
  /*чтобы header не сжимался*/
  background-color: #f7f7f7;
  width: 100%;
  // min-height: 116px;
  border-bottom: 1px solid #a6a6a6;
}

.header_white {
  padding-top: 32px;
  padding-left: 88px;
  background-color: #f7f7f7;
  width: 100%;
  display: flex;
}

.header__logo-resume-plus {
  width: 100px;
  height: 16px;
}

.header_main {
  background-color: #1a1b22;
  min-height: 80px;
  border: none;
}

.header__flex-container {
  margin: 24px auto;
  max-width: 88%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__flex-container_main {
  margin: 31px auto 25px;
}

.header__logo {
  display: flex;
  gap: 8px;
}

.header__logo-resume {
  width: 81px;
  height: 16px;
}

.header__logo-plus {
  width: 14px;
  height: 14px;
}

.header__main-buttons {
  display: flex;
  gap: 60px;
  justify-content: flex-end;
  align-items: center;
}

.header__main-button {
  color: #f7f7f7;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.header__logout-button {
  display: flex;
  background-color: #1a1b22;
  color: #f7f7f7;
  border: none;
  cursor: pointer;
}

.header__exit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.header__exit-icon {
  width: 24px;
  height: 24px;
}

.header__steps-buttons {
  display: flex;
  gap: 20px;
  margin-left: auto; // чтобы прижимался к правомуу краю
}

.header__button-icon_flex-container {
  cursor: pointer;
  display: flex;
  width: 20px;
  height: 20px;
}

.header__button-icon {
  margin: auto;
}

.header__button-icon_exit {
  margin-left: 4px;
  width: 24px;
  height: 24px;
}

.header__button-icon_personal {
  width: 12.5px;
  height: 10px;
}

.header__button-icon_previous {
  width: 13px;
  height: 12px;
}

.header__button-icon-next {
  width: 13px;
  height: 12px;
}

.header__button-icon_edit {
  width: 20px;
  height: 20px;
}

.header__button {
  height: 48px;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 2px solid #1a1b22;
  padding: 16px 20px;
  background-color: #f7f7f7;
  cursor: pointer;
  min-height: 20px;
  color: #1a1b22;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.header__button_margin {
  margin: 24px 0 24px 88px;
}

.header__button_black {
  background-color: #1a1b22;
  color: #fff;
}

.header__button_orange {
  background-color: #da693f;
  color: #fff;
  border-color: #da693f;
}
.header__button_orange:disabled {
  background-color: #1A1B22;
  opacity: 0.6;
  border-color: #1A1B22;
}

.header__nav-link {
  text-decoration: none;
}

.header__button_transparent {
  background-color: transparent;
  color: #fff;
  border: none;
}
