.image-upload {
    display: flex;
    flex-direction: column;
}

.image-upload__label-container {
    display: flex;

}
.image-upload__label {
    margin-bottom: 12px;
    text-align: left;
    color: #000;
    font-family:
      Open Sans,
      sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.21;

}
.image-upload__photo-container {
max-width: 310px;
width: 100%;
height: 285px;
border-radius: 16px;
background: #FFFF;
border: 1px solid #1A1B22;
position: relative;
background-image: url(../../../../img/photo-plug.svg);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.image-upload__photo-container_background-none {
  background-image: none;
}

.image-upload__photo {
    width: 100%;
	height: 100%;
border-radius: 16px;
object-fit:cover;
object-position: center;

}
.image-upload__input {
display: none;
}
.image-upload__button {
    display:block;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 48px;
    height: 48px;
    border-radius: 16px;
    background-color: #1A1B22;
    background-image: url(../../../../img/change-photo-button.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}
.image-upload__button:hover {
    background-image: url(../../../../img/change-photo-button-hover.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}
