.footer {
  flex-grow: 0; /*чтобы футер не рос*/
  flex-shrink: 0; /*чтобы футер не сжимался*/
  background-color: #1a1b22;
  width: 100%;
  min-height: 160px;
}

.footer__flex-container {
  margin: 48px 88px;
  max-width: 1264px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__logo {
  display: flex;
  gap: 8px;
}

.footer__logo-resume {
  width: 81px;
  height: 16px;
}

.footer__logo-plus {
  width: 14px;
  height: 14px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
}

.footer__contact {
  color: #f7f7f7;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
}
