.footer {
  flex-grow: 0; /*чтобы футер не рос*/
  flex-shrink: 0; /*чтобы футер не сжимался*/
  background-color: #1a1b22;
  width: 100%;
  min-height: 160px;

  &__flex-container {
    margin: 48px auto;
    max-width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__logo {
    display: flex;
    column-gap: 8px;
  }

  &__logo-resume {
    width: 81px;
    height: 16px;
  }

  &__logo-plus {
    width: 14px;
    height: 14px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    justify-content: flex-end;
  }

  &__contact {
    color: #f7f7f7;
    text-align: right;
    font-size: 20px;
    line-height: 1.2;
    text-decoration: none;
  }
}
