.recommend {
  width: 39.1%;
  // height: calc(100vh - 92px);
  padding-bottom: 92px;
  padding-left: 20px;
  // border-left: 1px solid #D0D0D0;
}

.recommend__image {
  margin-top: 32px;
  width: 495px;
  height: 330px;
}

.recommend__comment {
  margin-top: 32px;
  max-width: 495px;
  color: #000;
  text-align: center;
  font-family:
    Open Sans,
    sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.recommend__container {
  margin-top: 32px;
}

.recommend__text {
  max-width: 495px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  margin: 0;
}

.recommend__list {
  margin: 0;
  margin-left: 13px;
  padding-left: 15px;

}

.recommend__list-item {
  width: 465px;
}

.recommend__duties-formula {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
  // max-width: 496px;
}

.recommend__duties-component {
  padding: 2.8% 7.3%;
  border-radius: 8px;
  border: 1px solid #DA693F;
  background: #fff;
  width: 30%;
  height: 74px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.21;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recommend__duties-examples-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 20px;
}

.recommend__duties-example {
  padding: 28px;
  border-radius: 20px;
  border: 2px solid #DA693F;
  background: #fff;
  display: flex;
  gap: 8px;
}

.recommend__duties-example-text {
  background: #fff;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 1.21;
  margin: 0;
  text-align: left;
}
.recommend__duties-example-copy {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
}

.recommend__job-selector-container {
  margin-top: 21px;
  width: 260px;
  position: relative;
  border: none;
}

.recommend__job-selector {
  width: 248px;
  padding: 4px 12px 4px 0;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid#B9B9B9;
  cursor: pointer;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  outline: none;
}
.recommend__job-selector_active {
  border-color: #DA693F;
  background-color: #fff;
  outline-offset: 0;
}

.recommend__arrow-icon {
  position: absolute;
  top: 12px;
  left: 237px;
}

.recomment__job-list {
  padding: 12px 0;
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #fff;
  box-shadow: 3px 3px 12px 0px rgba(149, 149, 149, 0.4);
  position: absolute;
  top: 33px;
  left: 0;
}

.recommend__job-option {
  width: 248px;
  height: 27px;
  padding: 2px 0 2px 12px;
  color: #212121;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  background-color: #fff;
  border: none;
  text-align: left;
}

.recommend__job-option_selected {
  background-color: #da693f;
  color: #fff;
}

.recommend__job-option:hover {
  background-color: #ffbba1;
  color: #000;
  cursor: pointer;
}
