@import '../../../vendor/vars';

.recommend {
  @extend %right-container;
  // padding-bottom: 92px;

  &__image {
    width: 100%;
    margin-top: -4px;
    height: 330px;
  }

  &__comment {
    @extend %font-Open;
    margin-top: 32px;
    width: 100%;
    text-align: center;
  }

  &__container {
    margin-top: 35px;
  }

  &__text {
    @extend %font-Open;
    max-width: 495px;
    font-family: Inter, sans-serif;
    text-align: left;
    margin: 0 0 24px 0;
    letter-spacing: -0.1px;
  }

  &__list {
    margin: 0;
    margin-left: 13px;
    padding-left: 15px;

    &-item {
      width: 465px;
    }
  }

  &__duties {
    &-formula {
      display: flex;
      gap: 14px;
      justify-content: center;
      align-items: center;
      margin-bottom: 38px;
    }

    &-component {
      padding: 2.8% 7.3%;
      border-radius: 8px;
      border: 1px solid #da693f;
      background: #fff;
      width: 30%;
      height: 74px;
      color: #000;
      font-family: Inter;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.21;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-examples-container {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }

    &-example {
      padding: 18px 26px 17px 15px;
      border-radius: 20px;
      border: 2px solid #da693f;
      background: #fff;
      display: flex;
      gap: 8px;

      &-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 20px;
      }
      &-text {
        @extend %font-Open;
        background: #fff;
        margin: 0;
        text-align: left;
      }
      &-copy {
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: none;
      }
    }
  }

  &__job {
    &-selector {
      @extend %font-Open;
      width: 248px;
      padding: 4px 12px 4px 0;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid#B9B9B9;
      cursor: pointer;
      outline: none;
      margin-bottom: 18px;
      &-container {
        margin-top: 48px;
        width: 260px;
        position: relative;
        border: none;
      }
      &_active {
        border-color: #da693f;
        background-color: #fff;
        outline-offset: 0;
      }
    }
    &-list {
      padding: 12px 0;
      width: 260px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      background: #fff;
      box-shadow: 3px 3px 12px 0px rgba(149, 149, 149, 0.4);
      position: absolute;
      top: 33px;
      left: 0;
    }

    &-option {
      @extend %font-Open;
      width: 248px;
      height: 27px;
      padding: 2px 0 2px 12px;
      background-color: #fff;
      border: none;
      text-align: left;
      &:hover {
        background-color: #ffbba1;
        color: #000;
        cursor: pointer;
      }
      &_selected {
        background-color: #da693f;
        color: #fff;
      }
    }
  }

  &__arrow-icon {
    position: absolute;
    top: 12px;
    left: 237px;
  }
}
