@import './vendor/normalize.scss';
@import './vendor/fonts/fonts.scss';
@import './components/App/App.scss';

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.link {
  cursor: pointer;
  opacity: 1;
}

.link:hover {
  opacity: 0.75;
  transition: opacity 0.1s ease;
}
