.result-resume {
  box-sizing: border-box;
  padding: 40px;
  width: 100%;
  height: 100%;
  place-items: stretch;
  display: grid;
  grid-template-columns: 104px 2.5fr 1fr;
  column-gap: 32px;
  // grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  row-gap: 40px;
  text-align: left;
}

.result-resume_padding {
  padding: 0;
}

.result-resume__title {
  display: grid;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 8px;
  margin-bottom: -12px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 16.8px */
  grid-row: 1/2;
  grid-column: 1/3;
}

.result-resume__organization {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
}


/* ------блок  фото ------*/
.result-resume__user-photo {
  object-fit: cover;
  display: grid;
  grid-row: 1/2;
  grid-column: 1/2;
  max-width: 104px;
  max-height: 104px;
  border-radius: 50%;
}

/* ------ блок с ФИО ------*/
.result-resume__user-info {
  display: grid;
  align-content: center;
  grid-row: 1/2;
  grid-column: 2/3;
  margin-top: 4px;
}

.result-resume__user-name {
  font-family: 'Space Grotesk' sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 14px;
}

.result-resume__user-birth-info-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.result-resume__user-birth-info-list-item {
  list-style: none;
  &:not(:first-child):before {
    content: '•';
    display: inline;
    margin: 3px;
  }
}

.result-resume__user-date-birth {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
}

.result-resume__user-place-birth {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
}

/*------ блок опыта работы ------*/
.result-resume__experience {
  // grid-row: 2/4;
  grid-column: 1/3;
  display: grid;
  align-content: start;
  grid-template-columns: 108px 1fr;
  row-gap: 40px;
  column-gap: 32px;
  grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
  box-sizing: border-box;
}

.result-resume__experience-children {
  grid-column: 1/3;
  grid-row: auto;
  display: grid;
  grid-template-columns: 108px 1fr;
  column-gap: 32px;
}

.result-resume__experience-duty-title {
  margin: 0 0 20px 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 14.4px */
}

.result-resume__experience-duty {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
}
.result-resume__info {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.result-resume__experience-duty-info {
  grid-column: 2/3;
}

.result-resume__date {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 14.4px */
}

.result-resume__experience-position {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 14.4px */
}

.result-resume__experience-company {
  text-decoration-line: underline;
  color: #212121;
  cursor: pointer;
}

.result-resume__experience-company:hover {
  opacity: .5;
}

/* ------ блок с контактами ------*/
.result-resume__user-contacts {
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-row: 2/3;
  grid-column: 3/4;
}

.result-resume__user-desired-position {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
  margin-bottom: 14px;
}

br {
  margin-top: 10px;
  line-height: 1.2;
}

h2 {
  margin: 0;
  margin-bottom: 16px;
  color: #000;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.21;
  text-align: left;
}

span {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  word-wrap: break-word;
  font-size: 12px;
  // margin-bottom: 12px;
}

p {
  margin: 0;
  color: #000;
  font-family:
    Open Sans,
    sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
}

.result-resume__user-date-birth {
  display: inline-block;
}

.result-resume__user-place-birth {
  display: inline-block;
}

.result-resume__links {
  display: grid;
  grid-row: 3/4;
  grid-column: 1/2;
  border: 1px solid black;
  margin: 0 -1px -1px -1px;
  padding: 5px;
}

.result-resume__skills {
  display: grid;
  align-content: flex-start;
  grid-row: 4/5;
  grid-column: 1/2;
  border: 1px solid black;
  margin: 0 -1px -1px -1px;
  padding: 5px;
}

.result-resume__training {
  display: grid;
  grid-row: 5/6;
  grid-column: 2/4;
  border: 1px solid black;
  margin: 0 -1px -1px 0;
  box-sizing: border-box;
  align-content: start;
  grid-template-columns: 108px 1fr;
  column-gap: 32px;
  row-gap: 40px;
}

.result-resume__language {
  display: grid;
  align-content: start;
  grid-row: 5/6;
  grid-column: 1/2;
  border: 1px solid black;
  margin: 0 -1px -1px -1px;
  padding: 5px;
}

.result-resume__education {
  display: grid;
  grid-row: 4/5;
  grid-column: 1/3;
  margin: 0 -1px -1px 0;
  column-gap: 32px;
  row-gap: 40px;
  grid-template-columns: 108px 1fr;
}

.result-resume__projects {
  display: grid;
  grid-row: 6/7;
  grid-column: 2/4;
  border: 1px solid black;
  margin: 0 -1px -1px 0;
  padding: 5px;
}

.result-resume__about-user {
  grid-row: 7/8;
  grid-column: 2/4;
  border: 1px solid black;
  margin: 0 -1px -1px 0;
  padding: 5px;
}

.result-resume__training {
  display: grid;
  grid-row: 5/5;
  grid-column: 1/3;
  padding: 0;
  margin: 0 -1px -1px 0;
  column-gap: 32px;
  row-gap: 40px;
  grid-template-columns: 108px 1fr;
}

// для теста, потом можно удалить
@media print {
  @page {
    margin: 10px;
  }
}
