* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}

.result-resume {
  display: flex;
  width: 100%;
}

.result-resume__user-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}
.result-resume__personal-info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.result-resume__user-photo {
  width: 100px;
  height: 100px;
}
