@import '../../../vendor/vars';

.qualification {
  @extend %left-container;
}

.qualification__form-container {
  @extend %form-container;
  gap: 33px;
}
.qualification__basic-recommend {
  display: flex;
  flex-direction: column;
  gap: 29px;
  max-width: 729px;

  &_top {
    margin-bottom: -4px;
  }

  &_bottom {
    margin-top: -4px;
    margin-bottom: 1px;
  }
}
